<template>
  <div id="app">
    <div class="Chart">

      <nav>
        <div class="pull-left">
          <ul class="nav nav-pills">
            <li class="nav-item" v-for="(field, index) in fields">
              <a class="nav-link" v-bind:class="{ active: (current_field_idx === index)}" @click="current_field_idx = index" href="javascript:;">{{ field['key'] }}
                <span v-if="current_field_idx === index">({{ total }})</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="pull-right daterange-container">
          <span>Select Period</span>
            <div class="daterange-input">
              <input class="daterange form-control" type="text" name="daterange" value="">
              <i class="fa fa-calendar glyphicon glyphicon-calendar"></i>
              <b class="caret"></b>
            </div>
        </div>
      </nav>
      <div class="clearfix space"></div>
      <line-example :height="250" :chartData="chart_data"  :options="{responsive: true, maintainAspectRatio: false, legend: {display: false}}" ></line-example>

    </div>
  </div>
</template>

<script>
import axios from 'axios';
import LineExample from './line_chart.js';
import $ from 'jquery';
import moment from 'moment';
import daterange from 'bootstrap-daterangepicker'

export default {
  name: 'line_chart',
  props:{
    fields: {
      type: Array,
      required: true
    },
  },
  data () {
    return {
      result: {},
      errors: [],
      current_field_idx: 0,
      start_date: moment().subtract(6, 'days').format('YYYY-MM-DD'),
      end_date: moment().format('YYYY-MM-DD'),
    }
  },
  components: {
    LineExample
  },
  computed: {
    total: function () {
      if (Object.keys(this.result).length === 0) {
        return 0;
      }
      return this.result.total;
    },
    current_field: function () {
      return this.fields[this.current_field_idx];
    },
    chart_data: function () {
      if (Object.keys(this.result).length === 0) {
        return {}
      }
      return {
        labels: this.result.labels,
        datasets: [
          {
            label: this.result.settings.label,
            fill: this.result.settings.fill,
            fillColor: this.result.settings.fillColor,
            borderColor: this.result.settings.borderColor,
            strokeColor: this.result.settings.strokeColor,
            pointColor: this.result.settings.pointColor,
            pointStrokeColor: this.result.settings.pointStrokeColor,
            pointHighlightFill: this.result.settings.pointHighlightFill,
            pointHighlightStroke: this.result.settings.pointHighlightStroke,
            data: this.result.data
          }
        ]
      }
    }
  },
  watch: {
    current_field_idx: function (new_value) {
      this.fetch_data()
    }
  },
  methods: {
    fetch_data: function () {
      var that = this;
      axios.get(this.current_field['value'], {
        params: {
          start: this.start_date,
          finish: this.end_date,
        }
      })
        .then(function (response) {
          that.result = response.data;
        })
        .catch(function (error) {
          that.errors.push(error);
        })
    }
  },
  mounted() {
    var that = this;
    $('input[name="daterange"]').daterangepicker({
      startDate: moment().subtract(6, 'days'),
      endDate: moment(),
      maxDate: moment(),
      minDate: moment().subtract(364, 'days'),
      alwaysShowCalendars: true,
      showDropdowns: true,
      opens: 'left',
      locale: {
        format: 'YYYY/MM/DD'
      },
      ranges: {
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'Last 60 Days': [moment().subtract(59, 'days'), moment()],
        'Last 90 Days': [moment().subtract(89, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment()],
        'This Year': [moment().startOf('year'), moment()]
      }
    });
    $('input[name="daterange"]').on('change', function() {
      that.start_date = this.value.split('-')[0].replace(/\//g, '-').replace(' ', '');
      that.end_date = this.value.split('-')[1].replace(/\//g, '-').replace(' ', '');
      that.fetch_data();
    })
    this.fetch_data();
  }
}
</script>

<style scoped>

  /*@import "bootstrap";*/

  #app {
    background: #fff;

    .space {
      margin-bottom: 20px;
    }

    .daterange-input {
      position: relative;
      height: 38px;
      line-height: 38px;
      display: inline-block;
    }

    .daterange-input i {
      position: absolute;
      left: 8px;
      top: 10px;
    }

    .daterange-container span {
      display: inline-block;
      text-align: right;
      padding: 0.5em 1em;
      border-radius: 0.25rem;
    }

    .caret {
      top: 15px;
      position: absolute;
      display: inline-block;
      right: 10px;
      width: 0;
      height: 0;
      margin-left: 2px;
      vertical-align: middle;
      border-top: 4px solid;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
    }

    .daterange-container span, .daterange-container input {
      display: inline-block;
      width: inherit;
      display: inline-block;
    }

    .daterange-container {
      input[name=daterange] {
        padding-left: 28px;
        padding-right: 28px;
        width: 250px;
        color: blue;
      }
    }

  }

</style>
