<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>Chart - vue.js component with webpacker</h3>
      </div>
      <div class="card-body container py-1">
        <div id="vue_chart"></div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-1">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3>Date Range Picker using jQuery and Rails Assets Sprocket</h3>
      </div>
      <div class="card-body container py-1">
        <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />
      </div>
    </div>
  </div>
</div>
