<!DOCTYPE html>
<html>
  <head>
    <title>TMSChart</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid p-1">
      <%= yield %>
    </div>
  </body>
</html>
